.menu {
    width: var(--page-width);
  
    margin: 20px;
    border: 1px solid green;
    padding: 50px;
  }

.menu-button {
  width: 100px;
  height: 50px;
  
  margin: 20px;
  border: 1px solid green;
}

.menu-section {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;

  padding: 50px;

  color: white;
  background-color: #404040;
  opacity: 0.9;
}

.menu-spacer {
  min-height: 200px;
}

.center-options {
  display: flex;
  width: 150px;
  /* Center horizontally*/
  margin: 0 auto;
}
  