.menu {
    width: var(--page-width);
  
    margin: 20px;
    border: 1px solid green;
    padding: 50px;
  }

  .menu-section {
    width: var(--page-width); 
    margin: 20px;
    padding: 50px;
  
    color: white;
    background-color: #404040;
  }
  
  .center-options {
    display: flex;
    width: 150px;
    /* Center horizontally*/
    margin: 0 auto;
  }
  