:fold{
    --border-color: red;
  }

.fold-section {
    width: var(--page-width); 
    height: 600px;
    margin: 20px;
    padding: 50px;
  
    color: white;
    background-color: #404040;
  }

.fold {
  width: var(--page-width);
  height: var(--cover-height);

  margin: 20px;
  border: 1px solid green;
  padding: 50px;
}

.fold-title {
  border: 1px solid green;
  padding-left: 50px;
  padding-top: 200px;
}

#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

.content{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}