:about{
    --border-color: red;
  }

.about-section {
  width: var(--page-width); 
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;

  color: white;
  background-color: var(--theme-gray-6b);

  z-index: 1000;
  overflow: hidden;
  position: relative;
}

.about-section-overlay {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1000;
  mix-blend-mode: multiply;
}
  