:experience{
  --border-color: red;
}

.experience-section {
  width: var(--page-width); 
  height: 1000px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;

  color: white;
  background-color: var(--theme-gray-6b);
}


.statement-box {
  width: 400px; 

  margin: 20px;
  padding: 50px;

  border: 1px solid green;
}

.experience-list {
  width: 500px; 
  height: 800px;

  margin: 20px;
  padding: 40px;
}

.experience-entry {
  width: 500px; 

  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border-width: px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;

  background-image: linear-gradient(var(--theme-gray-4b), var(--theme-gray-6b));
  filter: drop-shadow(10px 10px 10px #202020);
}

.experience-entry-description {
  width: 500px; 

  margin-left: 20px;
  margin-right: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: -50px;

  border-width: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;

  filter: drop-shadow(10px 10px 10px #202020);

  color: var(--theme-gray-4h);
}

.skill {
  font-size: "18px";
  margin: "5px";
  filter: drop-shadow(6px 6px 4px #1a1a1a);
}

.skill-box {
  width: 400px; 
  height: 600px;
  margin: 20px;
  border: 1px solid green;
  padding: 50px;

}