body {
  --page-width: 1200px;
  --cover-height: 500px;
  max-width: 1350px;
  margin: 0 auto;

  --theme-gray-6b: #2d2a30;
  --theme-gray-4b: #3f3944;
  --theme-gray-2b: #4e4642;
  --theme-gray-4h: #9f95ad;
  --theme-gray-6h: #b6adc4;
  --theme-green: #54efd1;
  --theme-blue: #42d2ea;
  --theme-magenta: #ea4ba6;
  --theme-orange: #ef8e2e;
  background-color: #232028;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  width: var(--page-width); 
  margin-left: 20px;
  margin-right: 20px;

  background-color: var(--theme-gray-6b);
  color: white;
}